.cards-background {
  background-color: rgba(224, 242, 241, 0.5);
  margin-left: -50px;
}

.cards-header-background {
  background-image: radial-gradient(#b2dfdb 20%, transparent 20%);
  background-position: 0 0;
  background-size: 9px 9px;
  height: 200px;
  width: 150px;
}
